table{
    width: 310px;
    margin: 50px auto;
    background: #663399;
    border: none;
    border-radius: 10px;
    padding:0px 20px 20px;
}
.heading{
    color: #ffffff;
    font-size: 130%;
    text-align:center;
}
#input ,#answer{
    height: 50px;
    font-size: 130px;
    text-align: right;
    border: none;
}